
.cartItems-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartItems-format p{
    font-size: 17px;
    font-weight: 500px;
}


.cartItems-quantity{
    height: 30px;
    width: 30px;
    margin: auto;
}

.del-image{
    height: 25px;
    width: 25px;
    margin: auto;
}