

.breadcrumbs {
    background-color: rgb(232, 238, 232);
    width: 600px;
    padding: 5px;
    margin: 5px;
}

.breadcrumbs img{
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    background-color: rgb(220, 217, 217);
}
